<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>https://&lt;URL&gt;/</string>
	<key>API_KEY</key>
	<string>&lt;KEY&gt;</string>
	<key>BITCOIN_LN_ADDRESS</key>
	<string>&lt;ZEBEDEE USERNAME&gt;@zbd.gg</string>
	<key>BITCOIN_ADDRESS</key>
	<string>&lt;ADDRESS&gt;</string>
	<key>MOCK_USER_ID</key>
	<string>&lt;ID&gt;</string>
	<key>SUPPORT_EMAIL</key>
	<string>&lt;EMAIL&gt;</string>
</dict>
</plist>
